## モデル作成  
- データの読み込み  
    - 欠損値があるか  
    - 文字列データの有無の確認  
- 特定の列の削除  
    - BILL_AMT2~6
- データを検証データと訓練データへ切り分け:(テストデータ30%)
- 学習：決定木(分類)  
- モデルの保存 → demo_model.pkl  
- モデルの読み込み-
-  推論  

'default payment next month'が教師データ t

In [10]:
import pandas as pd
import numpy as np
%matplotlib

Using matplotlib backend: MacOSX

In [8]:
df = pd.read_csv('default.csv')

In [9]:
df.head(2)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1

In [15]:
df.isnull().sum

<bound method DataFrame.sum of        LIMIT_BAL    SEX  EDUCATION  MARRIAGE    AGE  PAY_0  PAY_2  PAY_3  \
0          False  False      False     False  False  False  False  False
1          False  False      False     False  False  False  False  False
2          False  False      False     False  False  False  False  False
3          False  False      False     False  False  False  False  False
4          False  False      False     False  False  False  False  False
5          False  False      False     False  False  False  False  False
6          False  False      False     False  False  False  False  False
7          False  False      False     False  False  False  False  False
8          False  False      False     False  False  False  False  False
9          False  False      False     False  False  False  False  False
10         False  False      False     False  False  False  False  False
11         False  False      False     False  False  False  False  False
12         False  False      False     False  False  False  False  False
13         False  False      False     False  False  False  False  False
14         False  False      False     False  False  False  False  False
15         False  False      False     False  False  False  False  False
16         False  False      False     False  False  False  False  False
17         False  False      False     False  False  False  False  False
18         False  False      False     False  False  False  False  False
19         False  False      False     False  False  False  False  False
20         False  False      False     False  False  False  False  False
21         False  False      False     False  False  False  False  False
22         False  False      False     False  False  False  False  False
23         False  False      False     False  False  False  False  False
24         False  False      False     False  False  False  False  False
25         False  False      False     False  False  False  False  False
26         False  False      False     False  False  False  False  False
27         False  False      False     False  False  False  False  False
28         False  False      False     False  False  False  False  False
29         False  False      False     False  False  False  False  False
...          ...    ...        ...       ...    ...    ...    ...    ...
29970      False  False      False     False  False  False  False  False
29971      False  False      False     False  False  False  False  False
29972      False  False      False     False  False  False  False  False
29973      False  False      False     False  False  False  False  False
29974      False  False      False     False  False  False  False  False
29975      False  False      False     False  False  False  False  False
29976      False  False      False     False  False  False  False  False
29977      False  False      False     False  False  False  False  False
29978      False  False      False     False  False  False  False  False
29979      False  False      False     False  False  False  False  False
29980      False  False      False     False  False  False  False  False
29981      False  False      False     False  False  False  False  False
29982      False  False      False     False  False  False  False  False
29983      False  False      False     False  False  False  False  False
29984      False  False      False     False  False  False  False  False
29985      False  False      False     False  False  False  False  False
29986      False  False      False     False  False  False  False  False
29987      False  False      False     False  False  False  False  False
29988      False  False      False     False  False  False  False  False
29989      False  False      False     False  False  False  False  False
29990      False  False      False     False  False  False  False  False
29991      False  False      False     False  False  False  False  False
29992      False  False      False     False  False  False  False  False
29993      False  False      False     False  False  False  False  False
29994      False  False      False     False  False  False  False  False
29995      False  False      False     False  False  False  False  False
29996      False  False      False     False  False  False  False  False
29997      False  False      False     False  False  False  False  False
29998      False  False      False     False  False  False  False  False
29999      False  False      False     False  False  False  False  False

       PAY_4  PAY_5             ...              BILL_AMT4  BILL_AMT5  \
0      False  False             ...                  False      False
1      False  False             ...                  False      False
2      False  False             ...                  False      False
3      False  False             ...                  False      False
4      False  False             ...                  False      False
5      False  False             ...                  False      False
6      False  False             ...                  False      False
7      False  False             ...                  False      False
8      False  False             ...                  False      False
9      False  False             ...                  False      False
10     False  False             ...                  False      False
11     False  False             ...                  False      False
12     False  False             ...                  False      False
13     False  False             ...                  False      False
14     False  False             ...                  False      False
15     False  False             ...                  False      False
16     False  False             ...                  False      False
17     False  False             ...                  False      False
18     False  False             ...                  False      False
19     False  False             ...                  False      False
20     False  False             ...                  False      False
21     False  False             ...                  False      False
22     False  False             ...                  False      False
23     False  False             ...                  False      False
24     False  False             ...                  False      False
25     False  False             ...                  False      False
26     False  False             ...                  False      False
27     False  False             ...                  False      False
28     False  False             ...                  False      False
29     False  False             ...                  False      False
...      ...    ...             ...                    ...        ...
29970  False  False             ...                  False      False
29971  False  False             ...                  False      False
29972  False  False             ...                  False      False
29973  False  False             ...                  False      False
29974  False  False             ...                  False      False
29975  False  False             ...                  False      False
29976  False  False             ...                  False      False
29977  False  False             ...                  False      False
29978  False  False             ...                  False      False
29979  False  False             ...                  False      False
29980  False  False             ...                  False      False
29981  False  False             ...                  False      False
29982  False  False             ...                  False      False
29983  False  False             ...                  False      False
29984  False  False             ...                  False      False
29985  False  False             ...                  False      False
29986  False  False             ...                  False      False
29987  False  False             ...                  False      False
29988  False  False             ...                  False      False
29989  False  False             ...                  False      False
29990  False  False             ...                  False      False
29991  False  False             ...                  False      False
29992  False  False             ...                  False      False
29993  False  False             ...                  False      False
29994  False  False             ...                  False      False
29995  False  False             ...                  False      False
29996  False  False             ...                  False      False
29997  False  False             ...                  False      False
29998  False  False             ...                  False      False
29999  False  False             ...                  False      False

       BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
0          False     False     False     False     False     False     False
1          False     False     False     False     False     False     False
2          False     False     False     False     False     False     False
3          False     False     False     False     False     False     False
4          False     False     False     False     False     False     False
5          False     False     False     False     False     False     False
6          False     False     False     False     False     False     False
7          False     False     False     False     False     False     False
8          False     False     False     False     False     False     False
9          False     False     False     False     False     False     False
10         False     False     False     False     False     False     False
11         False     False     False     False     False     False     False
12         False     False     False     False     False     False     False
13         False     False     False     False     False     False     False
14         False     False     False     False     False     False     False
15         False     False     False     False     False     False     False
16         False     False     False     False     False     False     False
17         False     False     False     False     False     False     False
18         False     False     False     False     False     False     False
19         False     False     False     False     False     False     False
20         False     False     False     False     False     False     False
21         False     False     False     False     False     False     False
22         False     False     False     False     False     False     False
23         False     False     False     False     False     False     False
24         False     False     False     False     False     False     False
25         False     False     False     False     False     False     False
26         False     False     False     False     False     False     False
27         False     False     False     False     False     False     False
28         False     False     False     False     False     False     False
29         False     False     False     False     False     False     False
...          ...       ...       ...       ...       ...       ...       ...
29970      False     False     False     False     False     False     False
29971      False     False     False     False     False     False     False
29972      False     False     False     False     False     False     False
29973      False     False     False     False     False     False     False
29974      False     False     False     False     False     False     False
29975      False     False     False     False     False     False     False
29976      False     False     False     False     False     False     False
29977      False     False     False     False     False     False     False
29978      False     False     False     False     False     False     False
29979      False     False     False     False     False     False     False
29980      False     False     False     False     False     False     False
29981      False     False     False     False     False     False     False
29982      False     False     False     False     False     False     False
29983      False     False     False     False     False     False     False
29984      False     False     False     False     False     False     False
29985      False     False     False     False     False     False     False
29986      False     False     False     False     False     False     False
29987      False     False     False     False     False     False     False
29988      False     False     False     False     False     False     False
29989      False     False     False     False     False     False     False
29990      False     False     False     False     False     False     False
29991      False     False     False     False     False     False     False
29992      False     False     False     False     False     False     False
29993      False     False     False     False     False     False     False
29994      False     False     False     False     False     False     False
29995      False     False     False     False     False     False     False
29996      False     False     False     False     False     False     False
29997      False     False     False     False     False     False     False
29998      False     False     False     False     False     False     False
29999      False     False     False     False     False     False     False

       default payment next month
0                           False
1                           False
2                           False
3                           False
4                           False
5                           False
6                           False
7                           False
8                           False
9                           False
10                          False
11                          False
12                          False
13                          False
14                          False
15                          False
16                          False
17                          False
18                          False
19                          False
20                          False
21                          False
22                          False
23                          False
24                          False
25                          False
26                          False
27                          False
28                          False
29                          False
...                           ...
29970                       False
29971                       False
29972                       False
29973                       False
29974                       False
29975                       False
29976                       False
29977                       False
29978                       False
29979                       False
29980                       False
29981                       False
29982                       False
29983                       False
29984                       False
29985                       False
29986                       False
29987                       False
29988                       False
29989                       False
29990                       False
29991                       False
29992                       False
29993                       False
29994                       False
29995                       False
29996                       False
29997                       False
29998                       False
29999                       False

[30000 rows x 24 columns]>

In [19]:
df.select_dtypes(include='int')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
5,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
6,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
7,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0
10,200000,2,3,2,34,0,0,2,0,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
11,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
12,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
13,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
14,250000,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
15,50000,2,3,3,23,1,2,0,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
16,20000,1,1,2,24,0,0,2,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
17,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
18,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
19,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,130000,2,3,2,39,0,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
21,120000,2,2,1,39,-1,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
22,70000,2,2,2,26,2,0,0,2,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
23,450000,2,1,1,40,-2,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
24,90000,1,1,2,23,0,0,0,-1,0,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
25,50000,1,3,2,23,0,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
26,60000,1,1,2,27,1,-2,-1,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
27,50000,2,3,2,30,0,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
28,50000,2,3,1,47,-1,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
29,50000,1,1,2,26,0,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,360000,1,1,1,34,-1,-1,-1,0,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29971,80000,1,3,1,36,0,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29972,190000,1,1,1,37,0,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29973,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29974,50000,1,2,1,37,1,2,2,2,0,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29975,220000,1,2,1,41,0,0,-1,-1,-2,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29976,40000,1,2,2,47,2,2,3,2,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29977,420000,1,1,2,34,0,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29978,310000,1,2,1,39,0,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29979,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29980,50000,1,3,2,42,0,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29981,50000,1,2,1,44,1,2,2,2,0,...,28192,22676,14647,2300,1700,0,517,503,585,0
29982,90000,1,2,1,36,0,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29983,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29984,30000,1,2,2,38,-1,-1,-2,-1,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29985,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29986,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,130000,1,1,2,34,0,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29988,250000,1,1,1,34,0,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29989,150000,1,1,2,35,-1,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29990,140000,1,2,1,41,0,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29991,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29992,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,2000,0,0,0,0,0,0
29993,100000,1,1,2,38,0,-1,-1,0,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29994,80000,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29995,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [ ]:
df.drop(labels=['BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',])

In [24]:
for i in range(2,7):
    df.drop(lables=['BILL_AMT{}'.format(i)], inplace=True, axies=1) #axis=1　列、0行

TypeError: drop() got an unexpected keyword argument 'lables'

## result.htmlを表示してください  

- URL名は result  
- view関数名も result  
- html名も result.html  
    - 審査結果  
- input_formで入力完了した時、result のページにリダイレクトするように設定

## 入力変数xを使用して推論を行ってください。
- y ← 推論結果  
- y_proba ← 自信度（確率）

## 自信度によって表示する文言を条件分岐させてください。

- 分類結果によって分岐  
  - 自信度によって分岐  
  
- 分類結果が0の場合(審査に落ちている)  
  - 自信度が0.75以上→コメント1  
  - 自信度が0.75未満→コメント2
- 分類結果が1の場合(審査自体は合格)  
  - 自信度が0.75以上→コメント3
  - 自信度が0.75未満→コメント4

コメントは自由に作成してください。  
comment という変数名でHTMLファイルにわたし、表示してください。

## /historyのページの作成

「顧客一覧」という文字が表示されるページを作成  

- urlは ' /history'  
- HTMLファイル名は history.html  

ヒント  
- urls.pyの編集  
- view.pyの編集  
- Templatesの作成

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sample_demographic.csv')

In [3]:
df.head(2)

   sex  education  marriage  age  result     proba  edu
0    2          4         1   86       0  0.198154    3
1    1          3         1   21       0  0.599666    4

In [4]:
'Customer.object.values_list('sex', 'education')'

SyntaxError: invalid syntax (<ipython-input-4-d7952e10a07f>, line 1)

### データの置換

In [5]:
df['sex'].replace()

0     2
1     1
2     2
3     2
4     2
5     1
6     1
7     2
8     2
9     1
10    1
11    2
12    2
13    2
14    1
15    2
16    1
17    1
18    1
19    2
20    2
21    1
22    2
23    1
24    1
25    1
26    1
27    1
28    1
29    2
Name: sex, dtype: int64

In [6]:
df['sex'].value_counts()

1    16
2    14
Name: sex, dtype: int64

In [7]:
df['sex'].value_counts().index

Int64Index([1, 2], dtype='int64')

In [9]:
df['sex'].replace({1:'男性', 2:'女性'}, inplace=True)

0     女性
1     男性
2     女性
3     女性
4     女性
5     男性
6     男性
7     女性
8     女性
9     男性
10    男性
11    女性
12    女性
13    女性
14    男性
15    女性
16    男性
17    男性
18    男性
19    女性
20    女性
21    男性
22    女性
23    男性
24    男性
25    男性
26    男性
27    男性
28    男性
29    女性
Name: sex, dtype: object